<!--<video autoplay muted loop >-->
<!--  <source src="assets/AdobeStock_390393754_Video_HD_Preview.mp4" type="video/mp4">-->
<!--</video>-->
<div class="home-container">
  <div class="text-container">
    <span class="slogan-text"> Music is as much of a science as it is an art. </span>
  </div>

<!--  <mat-card class="signinCardCover">-->
<!--  </mat-card>-->

  <mat-card class="signinCard">
    <firebase-ui *ngIf="!signedIn"
      (signInSuccessWithAuthResult)="onSignIn()">
    </firebase-ui>
    <a class="try-button" mat-button routerLink="/app" *ngIf="signedIn"> Start Creating </a>
  </mat-card>
</div>
