<!--<video autoplay muted loop >-->
<!--  <source src="assets/AdobeStock_390393754_Video_HD_Preview.mp4" type="video/mp4">-->
<!--</video>-->
<div class="home-container">
<!--  <span  class="text"> ENTROPY </span>-->
<!--  <span class="text"> THE FUTURE OF AUDIO </span>-->
  <mat-card class="signinCard">
    <firebase-ui
      (signInSuccessWithAuthResult)="onSignIn()">
    </firebase-ui>
    <a class="try-button" mat-button routerLink="/app" *ngIf="signedIn"> Start Creating </a>
  </mat-card>
</div>
