::ng-deep .mat-toolbar {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  align-content: center !important;
  position: absolute !important;
  z-index: 10 !important;
  /*background-color: var(--test) !important;*/
  background-color: rgba(0,0,0,0)!important;
  color: var(--white) !important;
}

.txt {
  vertical-align: center;
  text-align: center;
  font-family: 'Quando', serif !important;
  font-size: 1.25rem;
}

.img {
  height: 1.9rem;
  padding-right: 12px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
}

.homepage-links {
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*width: 500px;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

::ng-deep.matMenu {
  background-color: var(--translucent) !important;
  /*left: 100px !important;*/
  transform: translateX(22.51px) !important;
}

::ng-deep.menu-item {
  color: var(--white) !important;
  text-align: center !important;
}


.header-buttons {
  color: var(--white) !important;
  margin: 0 32px;
  /*border-bottom: var(--white) 1px solid;*/
  /*border-radius: 0 !important;*/
}

.profile-button {
  color: white !important;
}
