.mat-toolbar {
  position: relative;
  z-index: 10 !important;
  height: 72px;
  background-color: var(--translucent);
  color: white;
  font-family: 'Quando', serif !important;
  /*font-size: 32px;*/
}

.img {
  height: 50px;
  padding-right: 16px;
}


