<mat-toolbar>
  <a routerLink="/" class="logo" >
      <img src="assets/image (8).svg" class="img">
      <span class="txt">Entropy Audio </span>
  </a>

  <div class="homepage-links">

    <a *ngIf="router.url == '/'" routerLink="company" mat-button class="header-buttons">
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center">
        Company
        <!--        <mat-icon style="transform: rotate(-45deg);">navigate_next</mat-icon>-->
      </div>
    </a>

    <a *ngIf="router.url == '/'" routerLink="entropy" mat-button class="header-buttons">
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center">
        Entropy 1
<!--        <mat-icon style="transform: rotate(-45deg);">navigate_next</mat-icon>-->
      </div>
    </a>

<!--    <a *ngIf="router.url == '/'" routerLink="news" mat-button class="header-buttons">-->
<!--      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center">-->
<!--        News-->
<!--&lt;!&ndash;        <mat-icon style="transform: rotate(-45deg);">navigate_next</mat-icon>&ndash;&gt;-->
<!--      </div>-->
<!--    </a>-->
    <button [disabled]="!signedIn" [matMenuTriggerFor]="menu" class="header-buttons" mat-button>
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center">
        Account
<!--        <mat-icon *ngIf="signedIn">expand_more</mat-icon>-->
      </div>
    </button>
  </div>

<!--  <mat-tab-group>-->
<!--    <mat-tab label="First"> Content 1 </mat-tab>-->
<!--    <mat-tab label="Second"> Content 2 </mat-tab>-->
<!--    <mat-tab label="Third"> Content 3 </mat-tab>-->
<!--  </mat-tab-group>-->


  <mat-menu #menu class="matMenu" xPosition="before">
    <div *ngIf="menuButtons">
      <button class="menu-item" mat-menu-item> view credits </button>
      <button (click)="openQuickSettings($event)" class="menu-item" mat-menu-item> settings </button>
      <button class="menu-item" mat-menu-item> history </button>
      <a class="menu-item" routerLink="/" mat-menu-item (click)="signOut()"> sign out </a>
    </div>

    <div *ngIf="menuSettings">
<!--      <button>-->
<!--        <mat-icon>-->
<!--          navigate_before-->
<!--        </mat-icon>-->
<!--      </button>-->

      <button (click)="returnToQuickSettings($event)" mat-button class="menu-item">
        <mat-icon>navigate_before</mat-icon>
      </button>


      <button (click)="updateWaveboxes(2)" class="menu-item" mat-button>2</button>
      <button (click)="updateWaveboxes(4)" class="menu-item" mat-button>4</button>
    </div>


  </mat-menu>
</mat-toolbar>
