  <div class="rlhf-cont">
    <div class="button-cont">
      <button [ngClass]="{'up': rhsUp, 'down': lhsUp}" (mouseenter)="onRhs()" (mouseleave)="reset()" class="rlhfButton up" mat-button>
        <mat-icon>thumb_up_alt</mat-icon>
      </button>
<!--      <button [ngClass]="{'down': rhsDown || lhsUp}" (mouseenter)="onRhsDown()" (mouseleave)="reset()" class="rlhfButton down" mat-button>-->
<!--        <mat-icon>thumb_down_alt</mat-icon>-->
<!--      </button>-->
    </div>

    <div class="button-cont">
      <button [ngClass]="{'up': lhsUp, 'down': rhsUp}" (mouseenter)="onLhs()" (mouseleave)="reset()" class="rlhfButton up" mat-button>
        <mat-icon>thumb_up_alt</mat-icon>
      </button>
<!--      <button [ngClass]="{'down': lhsDown || rhsUp}" (mouseenter)="onLhsDown()" (mouseleave)="reset()" class="rlhfButton down" mat-button>-->
<!--        <mat-icon>thumb_down_alt</mat-icon>-->
<!--      </button>-->
    </div>
  </div>
<div class="desc-cont">
  <mat-label class="desc">Let us know which sample you like better! Your feedback helps improve the quality of the model's output.</mat-label>
</div>
