
<div class="bpm-container">

  <mat-form-field class="bpm-flexitem bpm-form" >
      <mat-label class="bpm-add" *ngIf="!loopSelected">no bpm</mat-label>
      <mat-label class="bpm-add" *ngIf="loopSelected && bpm==''">bpm</mat-label>
      <input style="font-size: 1.4rem !important;" class="bpm-add" matInput  [disabled]="!loopSelected" [formControl]="loopSelected ? numberInputControl : dummyControl" maxlength="3"
             [(ngModel)]="bpm" (keydown.tab)="selectPlaceholder()" (keydown.enter)="selectPlaceholder()" (input)="updateBPM()">
  </mat-form-field>

  <div class="button-cont">
    <button class="bpm-flexitem keyButton" [class.selected]="loopSelected" (click)="toggleBPM(); reqService.loop=true" mat-flat-button> loop </button>
    <button class="bpm-flexitem keyButton" [class.selected]="!loopSelected" (click)="toggleBPM(); reqService.loop=false" mat-flat-button> one shot </button>
    <!--  <button class="bpm-flexitem keyButton" [class.selected]="BPMSelected" (click)="toggleLoop() "mat-flat-button> loop </button>-->
  </div>

  <div class="error-cont">
    <mat-error class="bpm-flexitem" *ngIf="(numberInputControl.hasError('min') || numberInputControl.hasError('max'))
    && loopSelected
    && !numberInputControl.hasError('pattern')">
    error: 60 <= bpm <= 200
    </mat-error>
    <mat-error class="bpm-flexitem" *ngIf="numberInputControl.hasError('pattern') && loopSelected">
      error: bpm must be numeric
    </mat-error>
  </div>

</div>
