.gridlist {
  width: 50vw;
  height: 50vh;
}

.keyButton {
  height: 50%;
  /*width: 80px;*/
  color: white;
  background-color: var(--translucent);
  margin: 5px;
}

.mat-form-field {
  width: 20%;
  text-align: center;
  margin: 5px;
}

::ng-deep .mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}

::ng-deep .mat-form-field-outline-start{
  width: 100px !important;
}

::ng-deep .mat-form-field-outline-gap {
  width: 0 !important;
}

.mat-error {
  position: absolute;
  top: 90px;
  /*margin-bottom: 30px;*/
  font-size: 12px !important;

}

.selected {
  background-color: var(--translucent-accent);
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #f44336;
}

.mat-input-element {
  caret-color: var(--translucent-accent);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: var(--translucent-accent)
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick
{
  color: var(--translucent-accent);
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
  /* border-top-color: transparent; */
}
