
<div class="bpm-container">

  <mat-form-field class="bpm-flexitem bpm-form" appearance="outline">
<!--      <mat-label *ngIf="!BPMSelected">value</mat-label>-->
      <input [disabled]="!BPMSelected" [formControl]="BPMSelected ? numberInputControl : dummyControl" matInput maxlength="3"
             [(ngModel)]="bpm" (input)="updateBPM()">
  </mat-form-field>
<!--  <div class="bpm-flexitem mat-error" style="color: var(&#45;&#45;translucent-grey); height: 1rem" *ngIf="!numberInputControl.hasError('pattern') &&-->
<!--  !numberInputControl.hasError('min') &&-->
<!--  !numberInputControl.hasError('max')"></div>-->

  <div class="error-cont">
    <mat-error class="bpm-flexitem" *ngIf="(numberInputControl.hasError('min') || numberInputControl.hasError('max'))
    && BPMSelected
    && !numberInputControl.hasError('pattern')">
      error: 60 <= bpm <= 200
    </mat-error>
    <mat-error class="bpm-flexitem" *ngIf="numberInputControl.hasError('pattern') && BPMSelected">
      error: bpm must be numeric
    </mat-error>
  </div>

  <button class="bpm-flexitem keyButton" [class.selected]="BPMSelected" (click)="toggleBPM()" mat-flat-button> bpm </button>


</div>
