<div class="header-container">
  <div class="title-container">
    <div class="title">The Future of Audio Synthesis</div>
  </div>
  <div class="sub-text">
    Entropy Audio is a company focused on research, AI, and sound.<br>
    Our mission is to bring a new paradigm of tools to composers.<br>
    </div>
</div>

<div class="line-container">
  <div class="horizontal-line1"></div>
</div>

<div class="info-row-container">
<!--  <div class="info-row-text-title">-->
<!--    Technology should augment human creativity, not replace it.-->
<!--  </div>-->
  <div class="info-row">
    <div class="info-row-text-container">
      <div class="info-row-text">
        We enable composers to create sound with language.
        This lowers the technical barrier and cost of obtaining high quality sound for the less experienced,
        and augments creativity for all.
      </div>
    </div>
    <div class="info-row-visual">
      <mat-form-field class="bpm-form" >
        <input #input (blur)="keepFocus()" style="font-size: 1.4rem !important;" class="bpm-add" matInput maxlength="0">
      </mat-form-field>
    </div>
  </div>
  <div class="info-row">
    <div class="info-row-visual">
      <div class="waveform" #waveform></div>
    </div>
    <div class="info-row-text-container">
      <div class="info-row-text">
        Our state of the art machine learning systems understand music theory and sound design.
        Users comfortable with the technical side of creating music will feel right at home.
      </div>
    </div>
  </div>
</div>

<div class="line-container">
  <div class="horizontal-line2"></div>
</div>

<div class="info-row-container">
  <div class="info-row-text-title">
    "Music is as much of a science as it is an art".
  </div>
</div>

