.label-container {
  display: flex;
  justify-content: space-between;
}
.valueLabel {
  color: var(--translucent-grey);
}
.nameLabel {
  color: var(--translucent-grey);
  /*font-size: 20px;*/
}

.nameLabelContainer {
  display: flex;
  justify-content: center;
}

.mat-slider {
  width: 200px;
}
