.label-container {
  display: flex;
  justify-content: space-between;
}
.valueLabel {
  color: var(--translucent-grey);
}
.nameLabel {
  color: var(--translucent-grey);
  /*font-size: 20px;*/
}

.nameLabelContainer {
  display: flex;
  justify-content: center;
  /*font-size: 1rem;*/
}

::ng-deep .mat-slider {
  width: 100% !important;
}

::ng-deep .mat-slider-horizontal {
  min-width: 0 !important;
}
