@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  --greyscale: 100;
  --white: white;
  --translucent: rgba(var(--greyscale), var(--greyscale), var(--greyscale), 0.4);
  --translucent-accent: rgba(144, 62, 49, .6);
  --translucent-grey: rgba(200, 200, 200, 0.5);
  --translucent-grey-2: rgba(200, 200, 200, 0.25);
  --translucent-dark: rgba(0, 0, 0, 0.3);
  --bar-size: 2px;
  min-height: 127.2px;
}

* {
  /*font-family: 'Quando', serif !important;*/
  /*font-weight: 9000 !important;*/
  /*font-style: normal;*/
  /*font-family: "Poppins", sans-serif;*/
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  /*overflow: hidden;*/
}

html, body {
  height: 100%;
  margin: 0;
}

.svg {
  background-image: url("assets/image.svg");
  height: 50px;
  width: 50px;
  margin-right: 16px;
  color: red;
}

body {
  background: url("assets/AdobeStock_716555249.jpeg");
  background-repeat: no-repeat;
  /*background-size: 100vw 100vh;*/
  /*background-position: center top;*/
  background-position: center center;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.4); /* Black overlay with 50% opacity */

  /*background: radial-gradient(circle, transparent 10%, black 100%);*/
  /*rgba(0, 0, 0, 0.2);*/

}

.mat-accent .mat-slider-track-fill {
  background-color: var(--white) !important;
  /*right: 7px;*/
}
.mat-accent .mat-slider-track-background {
  background-color: var(--translucent-dark) !important;
  height: var(--bar-size) !important;
}

.mat-slider-thumb-label {
  background-color: var(--translucent-dark) !important;
  color: black !important;
  z-index: 200 !important;

}

.mat-slider-thumb {
  background-color: var(--white) !important;
}
