@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --greyscale: 100;
  --translucent: rgba(var(--greyscale), var(--greyscale), var(--greyscale), 0.4);
  --translucent2: rgba(var(--greyscale), var(--greyscale), var(--greyscale), 0.6);
  --translucent-accent: rgba(33, 142, 145, 0.2);
  --translucent-dark: rgba(256, 256, 256, 0.4);
  --bar-size: 6px;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: url("assets/AdobeStock_245883875.jpeg");
  background-repeat: no-repeat;
  /*background-size: 100vw 100vh;*/
  /*background-position: center top;*/
  background-position: center center;
  background-size: cover;
  /*font-family: 'Neon Fonts', sans-serif !important;*/
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.4); /* Black overlay with 50% opacity */

  /*background: radial-gradient(circle, transparent 10%, black 100%);*/
  /*rgba(0, 0, 0, 0.2);*/

}

.mat-accent .mat-slider-track-fill {
  background-color: rgba(256, 256, 256, 0.8) !important;
  right: 7px;
}
.mat-accent .mat-slider-track-background {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.mat-slider-thumb-label {
  background-color: rgba(256, 256, 256, 0.8) !important;

}

.mat-slider-thumb {
  background-color: rgba(256, 256, 256, 0.8) !important;
}
