@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background: url("assets/AdobeStock_716555249.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: center top;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  z-index: 0;
}
