.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 100%;
  width: 100%;

  background-image: url('src/assets/AdobeStock_74755985.jpeg');
  /*background-image: url('src/assets/AdobeStock_2387440.jpeg');*/
  /*background-image: url('src/assets/AdobeStock_374806029.jpeg');*/
  /*background-image: url('src/assets/AdobeStock_696681233.jpeg');*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.text {
  color: var(--translucent-dark);
  text-align: center;
  font-size: 120px;
  padding-bottom: 280px;
}
