.keyButton {
  height: 100%;
  /*width: 10px;*/
  color: white;
  background-color: var(--translucent);
  margin: 5px;
}

.gridlist {
  width: 50vw;
  height: 50vh;
}

.tile {
  text-align: center !important;
}

.selected {
  background-color: var(--translucent-accent);
}

/*.flex-container {*/
/*  display: flex;*/
/*  flex-direction: column; !* Stack the items vertically *!*/
/*  gap: 10px; !* Mimics the gutterSize *!*/
/*}*/

/*.flex-item {*/
/*  display: flex;*/
/*  gap: 10px; !* Space between buttons *!*/
/*}*/

/*.keyButton {*/
/*  flex: 1; !* Each button takes equal space *!*/
/*  height: 50px; !* Mimics the rowHeight *!*/
/*}*/
