/* FORM FIELD */

.textBar {
  color: white;
  font-size: 1.8rem;
  margin: 0 auto;
  flex-grow: 1;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgba(0, 0, 0, 0) !important;
}
::ng-deep.mat-mdc-form-field-focus-overlay {
  background-color: rgba(0, 0, 0, 0) !important;
}

::ng-deep.mat-mdc-form-field-subscript-wrapper, .mat-mdc-form-field-bottom-align::before {
  line-height: 0 !important;
  font-size: 0 !important;
  height: 0 !important;
  display: none;
}

::ng-deep.mat-mdc-form-field-infix {
  width: 100% !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: flex !important;
  justify-content: center;
  align-content: center;
  align-items: center;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  caret-color: var(--white) !important;
  color: var(--white) !important;
  font-size: 1.8rem !important;
  text-align: center !important;
}

::ng-deep.mat-mdc-form-field {
  display: flex !important;
  margin-bottom: 4px !important;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after{
  border-width: var(--line-size);
  border-bottom-color: var(--white) !important;
  border-radius: 4px;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
  border-width: var(--line-size);
  border-bottom-color: var(--translucent-dark-2) !important;
  border-radius: 4px;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--translucent-dark) !important;
  font-size: 1.8rem !important;
}

/*.white_underline {*/
/*  color: var(--white) !important;*/
/*}*/

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label, .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
  color: var(--translucent-grey-2) !important;
  transform: translateY(-50%) !important;

}


/* BUTTON */

.generateButton {
  font-size: 2rem;
  width: 56px;
  min-width: 56px;
  height: 56px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

::ng-deep.mat-mdc-button>.mat-icon, .mat-mdc-unelevated-button>.mat-icon, .mat-mdc-raised-button>.mat-icon, .mat-mdc-outlined-button>.mat-icon
{
  height: 32px !important;
  width: 32px !important;
}

::ng-deep.mat-mdc-button>.mat-icon{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

::ng-deep.mat-mdc-button:has(.material-icons,mat-icon,[matButtonIcon]) {
  padding: 0 !important;
  color: var(--translucent-dark) !important;
}

.button-active {
  transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  color: var(--white) !important;
}

.button-inactive {
  transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  color: var(--translucent-dark) !important;
}

::ng-deep.mat-mdc-button-touch-target{
  height: 100% !important;
  width: 100% !important;
}


.material-icons {
  font-size: 2rem !important;
  horiz-align: center;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

::ng-deep .textOutline {
  border: var(--line-size) solid;
  position: relative;
  color: var(--translucent-grey-2);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 60px;
  min-width: 280px;
  padding: 16px;
  /*min-height: 117.6px;*/
  margin: 16px !important;
}

.controls-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}



.flexitem {
  width: 33%;
}


.textCard {
  width: 75%;
  padding: 16px;
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--translucent);
  color: white;
  border-radius: 8px;
}

.mat-form-field-underline {
  color: white;
}

.slider-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

::ng-deep .rlhf {
  width: 100% !important;
  /*position: absolute;*/
  /*top: 488.4px;*/
}

.value {
  font-weight: 600;
}

.waveform-cont
{
  position: relative;
  height: 74px;
  width: 100%;
  margin: 4px;
  border: var(--line-size) solid var(--translucent-grey-2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.button-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 4px;
}

.waveform-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
  margin: 16px;
}

.up {
  color: var(--white) !important;
  border-color: var(--white);
  transition: all 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.down {
  color: var(--translucent-grey-2) !important;
  border-color: var(--translucent-grey-2);
  transition: all 500ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.playButton {
  width: 36px;
  height: 36px;
  /*min-width: 36px;*/
  /*position: absolute;*/
  /*z-index: 2;*/
  color: var(--translucent-grey-2);
  /*background-color: var(--translucent-dark);*/

}

.dl-icon {
  font-size: 1rem !important;
}

::ng-deep .download-menu {
  width: 10px !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: var(--translucent-grey-2);
}


::ng-deep .mat-menu-content:not(:empty) {
  padding: 4px !important;
}

::ng-deep .mat-menu-panel {
  min-width: 105px !important;
  max-width: 280px;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 0!important;
  /*min-height: 64px;*/
}

.waveform {
  z-index: 1;
  /*padding: 16px;*/
  /*margin: 16px;*/
  width: 90%;
}

.audio-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.waveform-component {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
}

.progress-bar-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  position: relative;
  overflow: hidden;
  align-items: center;
  align-content: center;
  background: linear-gradient(to right,
  rgba(100, 100, 100, 0) 0%,
  rgba(100, 100, 100, 0.05) 25%,
  rgba(100, 100, 100, 0.05) 75%,
  rgba(100, 100, 100, 0) 100%);
  border-radius: 8px;
}

/*::ng-deep .mat-progress-bar::before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  left: 0;*/
/*  right: 0;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  pointer-events: none; !* This prevents the overlay from interfering with user interaction *!*/
/*  background: linear-gradient(to right,*/
/*  rgba(100, 100, 100, 0) 0%,*/
/*  rgba(100, 100, 100, 1) 15%,*/
/*  rgba(100, 100, 100, 1) 85%,*/
/*  rgba(100, 100, 100, 0) 100%);*/
/*  !*border-radius: 8px;*!*/
/*}*/

.progressBar {
  width: 75%;
}


::ng-deep [id^="mat-progress-bar-"] {
  display: none !important;
}

::ng-deep .mat-progress-bar-buffer {
  /*background-image: none !important;*/
  /*background-color: var(--translucent-dark) !important;*/
  background: linear-gradient(to right,
  rgba(80, 80, 80, 0) 0%,
  rgba(0, 0, 0, 0.3) 20%,
  rgba(0, 0, 0, 0.3) 80%,
  rgba(80, 80, 80, 0) 100%);
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: var(--translucent-grey-2) !important;
}

::ng-deep .mat-progress-bar-background mat-progress-bar-element {
  background-image: none !important;
  background-color: var(--translucent-dark) !important;
}

::ng-deep .mat-progress-bar {
  height: var(--line-size) !important;
}

.mat-form-field {
  line-height: normal !important;
  display: flex !important;
}

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label
{
  transform: none !important;
  width: 100% !important;
  font-size: 1.8rem !important;
}

.hideAudio {
  visibility: hidden !important;
}

.valueLabel {
  color: var(--translucent-grey);
}

@keyframes colorFade {
  from {
    color: var(--translucent-dark)
  }
  to {
    color: var(--translucent-grey)
  }
}

@keyframes opacityFade {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
