.text{
  width: 40%;
  text-align: center;
  color: white;
  font-size: 32px;
  height: 90.4px;
}

::ng-deep .mat-input-element {
  caret-color: var(--white);
}

.generateButton {
  color: white;
  font-size: 32px;
  font-weight: 600;
  height: 62px;
  top: 12px;
  /*background-color: var(--translucent);*/
  /*height: 20px;*/
  padding-left: 32px;
  padding-right: 32px;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.texttile {
  margin-top: 0px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 0 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: var(--translucent-grey) !important;
  font-size: 24px !important;
}

::ng-deep.mat-form-field-label {
  /*change color of underline when focused*/
  color: var(--translucent-dark) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: var(--translucent-dark) !important;
  height: var(--bar-size) !important;
  visibility: hidden;
}
::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: var(--white) !important;
  visibility: visible !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.textCard {
  width: 80%;
  margin: 10px auto;
  position: relative;
  left: 0;
  right: 0;
  /*height: 40px;*/
  background-color: var(--translucent);
  color: white;
  z-index: 10;
}

.mat-form-field-underline {
  color: white;
}

.value {
  font-weight: 600;
}

.audioPlayer {
  /*top: 80px;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin: auto;*/
  /*position: relative;*/
}

.progressBar {
  width: 34%;
  background-color: transparent;
}

::ng-deep #mat-progress-bar-0 {
  display: none;
}

::ng-deep .mat-progress-bar-buffer {
  background-image: none !important;
  background-color: transparent !important;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: var(--translucent-accent) !important;
}

::ng-deep .mat-progress-bar-background {
  background-image: none !important;
  background-color: transparent !important;
}

::ng-deep .mat-progress-bar {
  height: var(--bar-size) !important;
}

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label
{
  transform: none !important;
  width: 100% !important;
  font-size: 32px !important;

}

.hideAudio {
  visibility: hidden !important;
}

.waveform
{
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  width: 360px;
}
