@keyframes colorFade {
  from {
    color: var(--translucent-dark)
  }
  to {
    color: var(--translucent-grey)
  }
}

@keyframes opacityFade {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.text{
  width: 50%;
  text-align: center;
  color: white;
  font-size: 32px;
  height: 90.4px;
}

::ng-deep .mat-input-element {
  caret-color: var(--white);
}

.generateButton {
  color: white;
  font-size: 32px;
  font-weight: 600;
  height: 60px;
  top: 16px;
  /*background-color: var(--translucent);*/
  /*height: 20px;*/
  padding-left: 32px;
  padding-right: 32px;
  /*border-top-left-radius: 50px !important;*/
  /*border-bottom-left-radius: 50px !important;*/
  /*border-top-right-radius: 0 !important;*/
  /*border-bottom-right-radius: 0 !important;*/
}

/*::ng-deep .mat-ripple .mat-button-ripple*/
/*{*/
/*  height: 200% !important;*/
/*  width: 200% !important;*/
/*}*/

.material-icons {
  font-size: 32px !important;
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
}

.texttile {
  margin-top: 0;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 0 !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: var(--translucent-grey) !important;
}

::ng-deep.mat-form-field-label {
  /*change color of underline when focused*/
  color: var(--translucent-dark) !important;
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  /*animation: colorFade 3s forwards !important;*/
}

::ng-deep.mat-form-field-underline {
  background-color: var(--white) !important;
  height: var(--bar-size) !important;
  /*visibility: hidden !important;*/
  opacity: 0;
  transform: scaleX(0.5);
  animation: opacityFade 800ms cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}


::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: var(--white) !important;
  visibility: hidden !important;
  /*transition: fadeOut 2s;*/
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.textCard {
  width: 80%;
  margin: 10px auto;
  position: relative;
  left: 0;
  right: 0;
  /*height: 40px;*/
  background-color: var(--translucent);
  color: white;
  z-index: 10;
}

.mat-form-field-underline {
  color: white;
}

.value {
  font-weight: 600;
}

.audioPlayer {
  /*top: 80px;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin: auto;*/
  /*position: relative;*/
}

.progressBar {
  width: 34%;
  background-color: transparent;
}

::ng-deep #mat-progress-bar-0 {
  display: none;
}

::ng-deep .mat-progress-bar-buffer {
  background-image: none !important;
  background-color: transparent !important;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: var(--translucent-accent) !important;
}

::ng-deep .mat-progress-bar-background {
  background-image: none !important;
  background-color: transparent !important;
}

::ng-deep .mat-progress-bar {
  height: var(--bar-size) !important;
}

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label
{
  transform: none !important;
  width: 100% !important;
  font-size: 32px !important;

}

.hideAudio {
  visibility: hidden !important;
}

.valueLabel {
  color: var(--translucent-grey);
}

.waveform
{
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  width: 360px;
}
